<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="chartMapper">

	<resultMap type="chart" id="resultCategory">
		<result column="cnt" property="cnt" />
		<result column="category_no" property="categoryNo" />
		<result column="category_name" property="categoryName" />
	</resultMap>
	
	<select id="selectMonthSchedule" resultType="int">
		select count(*)
		from schedule
		where user_no = #{userNo}
		and start_date &lt;= LAST_DAY(TO_DATE(#{dashBoard.currentMonth},'YYYY-MM'))
		and (
			end_date is null
			or end_date &gt;= TRUNC(TO_DATE(#{dashBoard.currentMonth},'YYYY-MM'),'MM')
		)
	</select>
	
	<select id="selectCategoryCnt" resultMap="resultCategory">
	select a.cnt,b.category_no,b.category_name
	from(
		select count(*) as cnt , category_no ,rank() over(order by count(*) desc) as rnk
		from schedule
		where user_no = #{userNo}
		and start_date &lt;= LAST_DAY(TO_DATE(#{dashBoard.currentMonth},'YYYY-MM'))
		and (
			end_date is null
			or end_date &gt;= TRUNC(TO_DATE(#{dashBoard.currentMonth},'YYYY-MM'),'MM')
		)
		group by category_no
	)a
	join category b
	on a.category_no = b.category_no
	and b.user_no = #{userNo}
	where rnk = 1
	</select>
</mapper> 