<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="chartMapper">

	<resultMap type="chart" id="resultCategory">
		<result column="cnt" property="cnt" />
		<result column="category_no" property="categoryNo" />
		<result column="category_name" property="categoryName" />
	</resultMap>
	
	<resultMap type="category" id="resultCategoryType">
		<result column="category_no" property="categoryNo" />
		<result column="category_name" property="categoryName" />
	</resultMap>
	
	<resultMap type="schedule" id="resultDdaySchedule">
		<result column="schedule_no" property="scheduleNo" />
		<result column="title" property="title" />
		<result column="count_Day" property="countDay" />
	</resultMap>
	
	<resultMap type="schedule" id="resultCategoryMonthSc">
		<result column="category_name" property="categoryName" />
		<result column="cnt" property="cnt" />
	</resultMap>
	
	<resultMap type="schedule" id="resultMonthSc">
		<result column="month" property="month" />
		<result column="cnt" property="cnt" />
	</resultMap>
	
	<select id="selectMonthSchedule" resultType="int">
		select count(*)
		from schedule
		where user_no = #{userNo}
		and start_date &lt;= LAST_DAY(TO_DATE(#{dashBoard.currentMonth},'YYYY-MM'))
		and (
		<!--  -->	end_date is null or
			 end_date &gt;= TRUNC(TO_DATE(#{dashBoard.currentMonth},'YYYY-MM'),'MM')
		)
	</select>
	
	<select id="selectCategoryCnt" resultMap="resultCategory">
	select a.cnt,b.category_no,b.category_name
	from(
		select count(*) as cnt , category_no ,rank() over(order by count(*) desc) as rnk
		from schedule
		where user_no = #{userNo}
		and start_date &lt;= LAST_DAY(TO_DATE(#{dashBoard.currentMonth},'YYYY-MM'))
		and (
			end_date is null
			or end_date &gt;= TRUNC(TO_DATE(#{dashBoard.currentMonth},'YYYY-MM'),'MM')
		)
		group by category_no
	)a
	join category b
	on a.category_no = b.category_no
	and b.user_no = #{userNo}
	where rnk = 1
	</select>
	
	<insert id="addCategory">
		insert into category
			(
				category_no,
				category_name,
				user_no,
				create_date
			)
			values
			(
				category_seq.NEXTVAL,
				#{dashBoard.categoryName},
				#{userNo},
				sysdate
			)
	</insert>
	
	<select id="selectCategoryType" resultMap="resultCategoryType">
		select category_no,category_name
		from category
		where user_no = #{userNo}
	</select>
	
	<select id="selectDdaySc" resultMap="resultDdaySchedule">
		select schedule_no, title, trunc(start_date)-trunc(sysdate) as "count_Day"
		from schedule
		where start_date between trunc(sysdate)+1 and trunc(sysdate) +3
		and user_no = #{userNo}
		order by start_date asc
	</select>
	
	<select id ="selectCategoryMonthSc" resultMap="resultCategoryMonthSc">
		select c.category_name , count(s.schedule_no) as cnt
		from category c
		left join schedule s
			on c.category_no = s.category_no
			and s.user_no = #{userNo}
			and s.start_date &lt;= LAST_DAY(TO_DATE(#{schedule.currentMonth},'YYYY-MM'))
			and (
				s.end_date is null
				or s.end_date &gt;= TRUNC(TO_DATE(#{schedule.currentMonth},'YYYY-MM'),'MM')
			)
		group by c.category_no, c.category_name
		order by cnt desc
	</select>
	
	<select id="selectScheduleMonth" resultMap="resultMonthSc">
		select TO_CHAR(start_date,'MM') as month, count(*) as cnt
		from schedule
		where user_no =#{userNo}
		and start_date &gt;= TRUNC(sysdate,'YYYY')
		and start_date &lt; ADD_MONTHS(TRUNC(sysdate,'YYYY'),12)
		group by TO_CHAR(start_date,'MM')
		order by month
	</select>
</mapper> 